.customBtn {
    transition: all 0.3s ease-in-out;
}

.customBtn:hover svg {
    transform: translateX(0.5rem);
    transition: .5s ease-in-out;
}

.customBtn {
    background-color: black;
    padding: 20px 0px;
        border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}