.typography{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

@media screen and (max-width: 757px) {
   
    .typography{
        font-size: 1.8rem;
        line-height: 1.5;
    }

}