.box {
    border: 1px dashed rgb(128, 122, 122);
    width: 500px;
    padding: 20px 20px;
    border-radius: 8px;
    position: relative;
    margin: 30px 0px;
    transition-duration: .3s;
}

.boxheading {
    font-size: 16px;
    color: rgb(38, 34, 34);
    font-weight: 600;
    padding: 30px 0px;
}

.boxsubheading {
    font-size: 17px;
    color: #687580 !important;
    font-weight: 600;
    text-transform: uppercase;

}

.boxpara {
    font-size: 15px;
}



.arrowIcon {
    right: 0;
    left: 99%;
    top: 46%;

}

.box:nth-child(even) .arrowIcon {
    right: 97% !important;
    left: -112px  !important;
    transform: rotate(196deg) !important;
    transform: scaleX(-1) !important;
}

.box:hover {
    transition-duration: all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: .3s;

}

.BlackHoverBox:hover {
    background-color: black;
    border-color: transparent;

}

.LeftColImg::after {
    content: '';
    height: 200px;
    width: 200px;
    background-color: black;
    display: block;
    z-index: 1;
    border-radius: 100%;
    top: -100px;
    left: -70px;
    position: absolute;

}

.BlackHoverBox:hover .boxheading {
    color: white !important;
}

.BlackHoverBox:hover .boxpara {
    color: white !important;

}

.BlackHoverBox:hover .boxsubheading {
    color: white !important;
}

.LeftImg {
    color: transparent;
    z-index: 2;
    display: block;
    position: relative;
}

.LogoImg {
    z-index: 99;
    top: -84px;
    left: -15px;
}