.loader img {
    width: 400px;
}

.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}



