.LeftColImg::after {
    content: '';
    height: 200px;
    width: 200px;
    background-color: black;
    display: block;
    z-index: 1;
    border-radius: 100%;
    top: -100px;
    left: -70px;
    position: absolute;

}

@media only screen and (max-width: 991px) {
    .LeftColImg::after {

        display: none;
    }


    .LeftColImg {
        display: flex;
        justify-content: center;
    }

}






.LeftImg {
    color: transparent;
    z-index: 2;
    display: block;
    position: relative;
}

.LogoImg {
    z-index: 2;
    top: -73px;
    left: -39px;
    width: 132px;
}

.Button {
    width: 500px;
}

@media only screen and (max-width: 767px) {
    .Button {
        width: 100%;
    }
}



@media only screen and (max-width: 991px) and (min-width: 767px) {

    .boxCol{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}