/* ==== 
 --------- (2.03) global styles start ---------
 ==== */

img {
  max-width: 100%;
  height: auto;
  border: 0px;
  outline: 0px;
  object-fit: cover;
}

i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// custom cursor
.cursor-outer {
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 1;
  transition: all 0.2s ease-out;
  mix-blend-mode: difference;

  &.cursor-hover {
    opacity: 0;
  }

  &.cursor-big {
    opacity: 0;
  }
}

.mouseCursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: visible;
  text-align: center;
}

.cursor-inner {
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  z-index: 50;
  background-color: white;
  opacity: 1;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  mix-blend-mode: difference;

  span {
    color: white;
    line-height: 60px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }

  &.cursor-hover {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background-color: white;
    opacity: 0;
  }

  &.cursor-big {
    width: 160px;
    height: 160px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 1;
  }
}

.unset {
  max-width: unset;
}

.dir-rtl {
  direction: rtl;
}

.bg-img {
  @include background(var(--theme-color), no-repeat, cover, center center);
}

.slick-slide {
  margin: 0px 15px;

  img {
    display: inline-block;
  }
}

.swiper-slide {
  img {
    display: inline-block;
  }
}

.slick-list {
  margin: 0px -15px;
}

.fw-9 {
  font-weight: 900 !important;
}

.fw-7 {
  font-weight: 700;
}

.fw-6 {
  font-weight: 600;
}

.fw-5 {
  font-weight: 500;
}

.fw-4 {
  font-weight: 400;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-quaternary {
  color: var(--quaternary-color);
}

.text-quinary {
  color: var(--quinary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.bg-quaternary {
  background-color: var(--quaternary-color);
}

.bg-quinary {
  background-color: var(--quinary-color);
}

.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--primary-color);
  font-family: sans-serif;
}

.gaper {
  row-gap: 30px;
}

.section {
  padding: 130px 0px;
}

.section__cta {
  margin-top: 65px;
  text-align: center;
}

.section__content-cta {
  margin-top: 60px;
}

.banner__content {
  margin-top: -8px;
  text-align: center;

  h6 {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--theme-color);
    margin-bottom: 22px;
  }

  h1 {
    font-weight: 700;
    color: var(--theme-color);
    margin-bottom: 16px;
    text-transform: capitalize;
  }
}

.cta-group {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.section__header {
  margin-bottom: 60px;

  .sub-title {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    line-height: 1;
    border: 1px solid #414141;
    color: var(--primary-color);
    border-radius: 30px;
    margin-bottom: 32px;
    text-transform: uppercase;

    i {
      transform: rotate(-45deg);
    }
  }

  .title {
    text-transform: capitalize;
    font-weight: 700;
  }
}

.section__header--secondary {
  margin-bottom: 60px;
}

.section__content {
  .sub-title {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    line-height: 1;
    border: 1px solid #414141;
    color: var(--primary-color);
    border-radius: 30px;
    margin-bottom: 32px;
    text-transform: uppercase;

    i {
      transform: rotate(-45deg);
    }
  }

  .title {
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: capitalize;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;

  li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: var(--tertiary-color);
    background-color: #f0efff;
    @include box(40px);
    font-size: 16px;

    &:hover {
      color: var(--black);
      background-color: var(--primary-color);
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navLinkFadeReverse {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slide-group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.slide-btn {
  @include box(74px);
  transition: var(--transition);
  font-size: 40px;
  z-index: 2;
  color: var(--white);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:hover {
    color: var(--white);
    background-color: black;
    border: 1px solid var(--primary-color);
  }
}

.lines {
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: -3;

  .line {
    width: 1px;
    height: 100%;
    min-height: 100vh;
    top: 0;
    background-color: #343434;
    z-index: -1;
  }
}

// video popup
.vid-m {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 99;
  width: 160px;
  height: 285px;
  max-height: 285px;
  display: none;

  .vid-c {
    text-align: end;
  }

  video {
    width: 100%;
    height: 100%;
    max-height: 285px;
    border-radius: 20px;
  }

  button {
    @include box(34px);
    background-color: var(--primary-color);
    color: black;
    font-size: 14px;
    margin-left: auto;
    transform: translateY(50%);
    position: relative;
    z-index: 9;
  }

  h5 {
    position: absolute;
    top: 30%;
    right: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    color: black;
    border-radius: 20px 20px 0px 20px;
    line-height: 0px;
    transform: translateX(30%);
  }
}

.vid-a {
  display: block;
}

.folks-text {
  gap: 0px !important;
}

// custom video modal
.video-backdrop {
  position: fixed;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
  z-index: 9999999 !important;
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.video-inner {
  max-width: 100%;
  height: calc(100% - 120px);
  max-height: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 20px;
  overflow-y: auto;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
}

.video-zoom-in {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);

  .video-container {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.video-container {
  position: relative;
  max-width: 850px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  z-index: 9999999 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  transition-delay: 0.3s;
}

.video {
  width: 100%;
  height: 100%;
  border: 0px;
}

.close-video-popup {
  position: absolute;
  top: -60px;
  right: -6px;
  background-color: transparent;
  font-size: 30px;
  box-shadow: none;
  border: 0px;
  color: white;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: white;
  }
}

@media only screen and (max-width: 991.98px) {
  .video-container {
    max-width: 540px;
    max-height: 300px;
  }

  .close-video-popup {
    top: -50px;
    font-size: 24px;
  }
}

.radius-20 {
  border-radius: 20px;
}

.hover-box-sh:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -1px -2px 5px -1px;
}



.font-size-1 {
  font-size: 1px;
}

.font-size-2 {
  font-size: 2px;
}

.font-size-3 {
  font-size: 3px;
}

.font-size-4 {
  font-size: 4px;
}

.font-size-5 {
  font-size: 5px;
}

.font-size-6 {
  font-size: 6px;
}

.font-size-7 {
  font-size: 7px;
}

.font-size-8 {
  font-size: 8px;
}

.font-size-9 {
  font-size: 9px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-29 {
  font-size: 29px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-31 {
  font-size: 31px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-33 {
  font-size: 33px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-37 {
  font-size: 37px;
}

.font-size-38 {
  font-size: 38px;
}

.font-size-39 {
  font-size: 39px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-41 {
  font-size: 41px;
}

.font-size-42 {
  font-size: 42px;
}

.font-size-43 {
  font-size: 43px;
}

.font-size-44 {
  font-size: 44px;
}

.font-size-45 {
  font-size: 45px;
}

.font-size-46 {
  font-size: 46px;
}

.font-size-47 {
  font-size: 47px;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-49 {
  font-size: 49px;
}

.font-size-50 {
  font-size: 50px;
}



/* Font Weights */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/* Bold and Bolder */
.font-bold {
  font-weight: bold;
}

.font-bolder {
  font-weight: bolder;
}

/* Italic */
.font-italic {
  font-style: italic;
}






/* ==== 
   --------- (2.03) global styles end ---------
   ==== */
.dot {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 1s infinite;
}

.dot1 {
  animation-delay: 0s;
  border: 3px solid white;
}

.dot2 {
  animation-delay: 0.2s;
  border: 3px solid white;

}

.dot3 {
  border: 3px solid white;

  animation-delay: 0.4s;
}

.loading-dots {
  display: flex;
  margin-top: 30px;
  margin-left: 40px;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
    background-color: var(--primary-color);
  }

  50% {
    transform: translateY(-15px);
    background-color: black;
  }
}

.loader-bg {
  background: radial-gradient(circle, rgba(49, 51, 60, 1) 0%, rgba(0, 0, 0, 1) 100%);

}

.slidess-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(55, 51, 51);
  transform-origin: bottom;
}

.slidess-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(55, 51, 51);
  transform-origin: top;
}

.custom-section-padding {
  padding: 120px 0px;
}

.spline-watermark {
  display: none !important;
}

.banner-five .banner-five__wrapper .projects-s__single {
  padding: 0px !important;
  border: 0px !important;
}

.testimonialImg {
  object-fit: cover;
  width: 69px;
  border-radius: 100%;
  height: 83px;
}

.mt-big-margin {
  margin-top: 120px;
}

.bg-footerblue {
  background-color: #000000 !important;
}

.testimonials-slider .swiper-button-prev:after,
.testimonials-slider .swiper-button-next:after {
  background: black !important;
  padding: 10px;
  border-radius: 50px;
  font-size: 22px;
  color: white;
  line-height: 1.3;
  padding-left: 19px;
  padding-right: 18px;
}

::selection {
  background-color: rgb(31, 30, 30);
  color: white;
}

.last-sec {
  padding-bottom: 300px;
}

.HeadingElement {
  font-size: 3rem ;
  font-weight: 700 ;
  line-height: 1.3 ;
  color: var(--primary-color) ;
}




.HeaderCOntactButton {
  border: 1px solid white;
  color: white !important;
}
.HeaderCOntactButton:hover{
  border: 1px solid var(--primary-color);
  color: white !important;
}
.removeline a::before{
  display: none !important;
}